- @title = "About"

.content-page
	markdown:
		### What is Trollie?
		Trollie is a unique tool that calculates the reading level of children's books using publically available metadata.  It integrates factors such as subject headings, difficulty of available words, the author's known style and data from other books by the same author.  It is unique in that it does not require a large sample of actual document text to calculate the reading level.  Currently data is pulled from [WorldCat](http://www.worldcat.org) and this site's search is powered by [Open Library](http://openlibrary.org).

		### The Team
		The Troll software and platform was developed in [Dr. Dennis Ng](https://faculty.cs.byu.edu/~dennis/ng.html)'s database research lab at BYU.  Research and development of the Java tool for reading level computation was completed by Joel Denning in collaboration with Sole Pera.  This site was created by Kyle Corbitt in Ruby on Rails and Angular.js and has been open sourced on [github](https://github.com/kcorbitt/web-troll).
